@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zeyada&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit" !important;
}
h1 {
  font-family: "Zeyada", cursive;
}
